.LanguageSwitcher {
  color: black;
}
.AltText {
  font-size: 0.85em;
}
.head-hover {
  color: red;
}
.progress-hover {
  color: red;
}
.progress-box {
  background: rgb(204, 243, 255);
  font-size: 0.975em;
}
.message-box {
  background-color: rgb(255, 249, 213);
  color: black;
}
.action-box {
  background: rgb(252, 226, 230);
  font-size: 1em;
}
.action-hover {
  color: red;
}
.action-panel{
  font-size: 0.8em;
}
.staff-action-panel{
  font-size: 0.8em;
}
.staff-action-box {
  background: rgb(252, 226, 230);
  font-size: 0.75em;
}.subAction{
  font-size: 0.8em;
  line-height: 13px;
}
.subAction-box {
  background: rgb(243, 236, 183);
  font-size: 0.7em;
}
.subAction-hover {
  background: lightgrey;
}
.icon-highlight {
  font-size: 1.25em;
  font-weight: bold;
}
.detail-head{
  background: rgb(221, 221, 221);
  vertical-align: middle;
}
.detail-detail{
  background: rgb(249, 249, 246)
}
.detail-box{
  background: rgb(243, 236, 183)
}
.style-head{
  background: rgb(221, 221, 221);
  font-size: 0.8em;
}
.style-box{
  background: rgb(243, 236, 183);
  font-size: 0.9em;
  color: black;
}
.staff-head{
  height: 30px;
  vertical-align: top;
}
.staff-notice{
  font-size: 0.75em;
  font-weight: bold;
}
.member-head{
  font-size: 0.75em;
  line-height: 13px;
}
.member-detail{
  font-size: 0.65em;
}
.profile-detail{
  font-size: 1em;
  color: black;
}
.platform{
  background: rgb(51, 50, 50);
}
.report-frame{
  background-image: url('/images/reporthead.jpg');
  background-size: cover;
  width: 1100px;
  height: 1650px;
  page-break-after: true;
}
.report-head-spacer{
  height: 500px;
}
.report-head-title{
  height: 500px;
  font-size: 10em;
  color: white;
}
.report-head-name{
  height: 400px;
  font-size: 5em;
  color: white;
}
.report-head-date{
  height: 100px;
  font-size: 2em;
  color: white;
}
.report-result-spacer{
  height: 200px;
}
.report-result-initial{
  color: blue;
}
.report-result-final{
  color: brown;
}
.report-result-text{
  color: white;
}
.drill-head-name{
  font-size: 1.5em;
  font-weight: bold;
}
.drill-head{
  font-size: 1.2em;
  font-weight: bold;
}
.drill-list-head{
  background: url('../../assets/leadershipinsea.png') no-repeat center center;
  position: obsolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.report-distribute{
  font-size: 0.78em;
  font-weight: bold;
}
.help-content{
  font-size: 0.8em;
}
.help-bar{
  background: rgb(184, 180, 180);
  font-weight: bold;
}
.help-img{
  text-align: center;
  display: block;
}
.value-hh{
  background: #0ab007;
}
.value-mh{
  background: #19ad17;
}
.value-ml{
  background: #F39C12;
}
.value-ll{
  background: #E74C3C;
}
.v-data-table>.v-data-table__wrapper>table>tbody>tr>td{
  font-weight:bold;
  font-size:9px;
}
.chat-message {
  max-width: 12.5%;
  word-wrap: break-word;
  font-size:0.8em;
}

